<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button (click)="goBack()"><</ion-button>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-label style="font-size: 24px; text-align: center; display: block; margin: 20px;">
    Bienvenido {{ userName }}
  </ion-label>

  <ion-item>
    <img src="..\assets\img\bop-cat.gif" alt="gif">
  </ion-item>
  <ion-item>
    <img src="..\assets\img\like-2.jpeg" alt="100" height="400" width="400">
  </ion-item>
</ion-content>